@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uni9kp');
  src:  url('fonts/icomoon.eot?uni9kp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uni9kp') format('truetype'),
    url('fonts/icomoon.woff?uni9kp') format('woff'),
    url('fonts/icomoon.svg?uni9kp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-文件夹:before {
  content: "\e900";
}
.icon-directory-open:before {
  content: "\e901";
}
.icon-file:before {
  content: "\e902";
}
